*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.menu{
    color: white;
    background: #333;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.menu ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: flex-end;
  
}

.menu ul li{
    padding: 1rem;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu h1{
    font-size: 1.5rem;
    display: inline-block;
    padding-top: 0.60rem;
}

.menu i{
    padding-right: 0.5rem;
}

.menu span, .menu i{
    color: #93cb52;
}

#main{
    background:url("/image_resources/showcase.jpg") no-repeat
    center center/cover;
    height: 100vh;
    color: white;
}

#main #content{
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.4);
}

#main #content #content-text{
    font-size: 1.5rem;
    flex-direction: column;
}

#main #content #content-text h1{
    font-size: 4rem;
}

#main #content #content-text p{
    margin-bottom: 30px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}

#main #content #content-text #readbtn{
    color: white;
    background: #93cb52;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1rem;
}

#what{
    color: black;
    background: #f4f4f4;
    padding-top: 25px;
    text-align: center; 
    font-size: 1.5rem;
    padding-bottom: 50px;
}

i{
    color: black;
}

#what span{
    color: #93cb52;
}


#what-items .container{
    width: 1100px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}

#what-items .container .item{
    margin-top: 50px;
    flex: 1;
    display: flex;
    text-align: left;
    margin-right: 20px;
}
#what-items .container i{
    background:  #93cb52;
    border-radius: 50%;
    padding: 20px;
    align-self: center;
    margin-right: 20px;
}

/* Style Who section */

#who{
    display: flex;
    background: #333;
} 

#who #image{
    background: url("/image_resources/people.jpg") no-repeat
    center center/cover;
    height: 400px;
    flex: 1;
}

#who #text{
    flex: 1;
}

#who #text span{
     color: #93cb52;
}
#who #text h1{
    padding: 20px 30px;
    font-size: 2rem;
}

#who #text p{
    line-height: 1.4;
    padding-left: 30px;
    padding-bottom: 20px;
}

#who #text h3{
    padding-left: 30px;
    padding-bottom: 20px;
}

/* Clients */

#clients{
    color: black;
}

#clients h1{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
#clients h1 span{
    color: #93cb52;

}
#clients .container{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#clients .container img{
    display: inline-block;
    margin: auto;
    width: 10%;
}





